.container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: [first] 1fr [second] 1fr  [third] 1fr [fourth] 1fr [fifth] 1fr [sixth]1fr [seventh];
  grid-template-rows: repeat(4, 50px);
  /* grid-template-areas:
  'c c c c . .'
  '. . b b b .'
  '. . b b b .'
  '. . b b b .'; */
}

.item-c {
  /* grid-area: c; */
  grid-column-start: second;
  grid-column-end: fourth;
  grid-row-start: 3;
  grid-row-end: 4;
}

.item {
  background-color: rgba(0, 0, 0, 0.336);
}


.item.item-b {
  grid-area: b;
  /* grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 4; */
}




































/* html {
  background: lightblue;
}

.container {
  display: grid;
  grid-template-columns: [first] 1fr [second] 3fr 1fr [last];
  grid-template-rows: 100px 125px 200px;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
    '. . . .'
    '. content . .'
    '. content . .';
}

.item {
  background-color: lightgreen;
  border-radius: 5px;
}

.item-a {
  grid-column-start: first;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item-b {
  background-color: rgba(255, 0, 0, 0.596);
  grid-area: content;
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4; */
} */
